html, body{
	font-family: 'Roboto', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: url(img/bg1.jpg) no-repeat 0px 0px;
	background-size:cover;
}

.icon {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	border: 1px solid #F9A825;
	padding: 3px 3px;
	margin: 3px;
}
span.guest-name {
	font-size: 18px;
}
img.guest {
	width: 100%;
	height: auto;
}

.customer-img {
	height: 30px;
	width: 30px;
}
.customer-name {
	padding-left: 20px;
}
.customer-name2 {
	padding-top: 20px;
}
.panel {
	padding: 10px;
	border-bottom: 2px solid #F9A825;
}
.panel:hover {
	background-color: #f5f6f9;
}
.panel:focus {
	background-color: #f5f6f9;
}
.guest-hr {
	width: 70%;
	padding-bottom: 30px;
}
.guest-details {
	height: 60px;
	padding: 20px 10px;
}
.card.customer-list
{
	height: 80vh;
	border-radius: 5px;
	background-color: rgba(12, 12, 15, .4);
	padding: 20px;
	overflow-y: scroll;
}
.card.conversation-list {
	height: 80vh;
	background-color: rgba(250, 250, 250, .4);
	border-radius: 5px;
	padding: 20px;
	overflow-y: scroll;
}
.card.guest {
	border-bottom: 4px solid #FFA000;
	border-radius: 0px;
	height: 100%;
	width: 100%;
	padding: 0px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	margin-bottom: 15px;
}
.card.guest:hover {
	border-bottom: 4px solid #F9A825;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition:    all 0.7s ease-in-out;
	-o-transition:      all 0.7s ease-in-out;
	-ms-transition:     all 0.7s ease-in-out;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
	cursor: pointer;
}
.row.guest{
	margin-bottom: 15px;
}